@charset "utf-8";

/* 공통모듈 CSS - common.css */
@import url(./reset.css);
@import url(./core.css);

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding: 0.625rem;
    width: 100%;
    top: 0;
    background-color: #113273;
    z-index: 20;
}

.main-container {
    height: 100vh;
}

.slog-main {
    padding-top: 1rem;
    height: 100%;
    overflow-y: auto;
    background-color: #f7fafc;
}

.p-main-title {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

/* .main-menu */
.main-menu {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.main-nav {
    display: flex;
    justify-content: center;
}

/* slog-content */
.slog-content-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #e2e8f0;
    border-top: 1px solid #cbd5e0;
    border-bottom: 2px solid #a0aec0;
}
.slog-add-content-box {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    width: 630px;
    margin: 0 auto;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #e2e8f0;
    border-top: 1px solid #cbd5e0;
    border-bottom: 2px solid #a0aec0;
}
.slog-list-wrap {
    width: 630px;
    margin: 0 auto;
}

.content-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0.625rem;
    margin-top: 1rem;
}

.content-box-header-inner-left {
    display: flex;
    flex-basis: 75%;
}
.content-box-header-inner-right {
    display: flex;
    justify-content: flex-end;
    flex-basis: 25%;
    position: relative;
}

.slog-content-textarea {
    display: block;
    padding: 0.625rem;
    width: 100%;
    font-size: 0.875rem;
    color: #1a202c;
    background: #f7fafc;
    border-radius: 0.125rem;
    border: 1px solid #d2d6dc;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.content-box-main {
    display: flex;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #e2e8f0;
}

.content-box-bottom {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.slog-ul {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

/* slog-comment */
.slog-comment-wrap {
    position: fixed;
    top: 3.5rem;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    background-color: #f7fafc;
}

.slog-comment-box {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #e2e8f0;
    border-top: 1px solid #cbd5e0;
    border-bottom: 2px solid #a0aec0;
}
.comment-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.625rem;
    margin-top: 1.25rem;
}
.comment-box-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.inner-button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;
}
.commnet-list-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.625rem;
}
.comment-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.comment-top {
    display: flex;
    width: 100%;
    padding-top: 0.75rem;
}
.comment-top-left {
    display: flex;
    flex-basis: 75%;
}
.comment-top-right {
    display: flex;
    flex-basis: 25%;
    justify-content: flex-end;
}
.comment-bottom {
    display: flex;
    width: 100%;
    margin-bottom: 1.875rem;
}
.comment-box-bottom {
    padding: 1rem;
    display: flex;
    width: 100%;
    border-top: 1px solid #e2e8f0;
}

/* auth-box */
.auth-box-main {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.auth-box {
    margin-top: 1.25rem;
    width: 500px;
    margin: 0 auto;
    display: flex;
}

.auth-content-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #e2e8f0;
    border-top: 1px solid #cbd5e0;
    border-bottom: 2px solid #a0aec0;
    margin-top: 1rem;
}

.auth-input-box {
    position: relative;
    display: flex;
    z-index: 0;
    width: 100%;
    margin-top: 1.75rem;
}
.auth-input-text {
    width: 100%;
    font-size: 1rem;
    color: #1a202c;
    border-bottom: 1px solid #e2e8f0;
    padding-top: 2.5rem;
}
.auth-input-label {
    position: absolute;
    color: #718096;
}

/* buttons */
.drop-menu-box {
    position: absolute;
    top: 2rem;
    z-index: 10;
    width: 9rem;
    background-color: #fff;
    border-radius: 0.375rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
    border-top: 1px solid #cbd5e0;
    border-bottom: 2px solid #a0aec0;
    display: none;
}
.drop-menu-show {
    display: block;
}
.button-base-circle {
    padding: 0.25rem;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
    font-weight: bold;
}
.button-base-circle:hover {
    background-color: #f7fafc;
}
.button-box-full {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.75rem;
}

.text-white {
    color: #fff;
    width: 25px;
    height: 25px;
}
.text-white svg {
    fill: #fff;
}

/* loading-box */
.full-loading-box {
    width: 100%;
    height: 100vh;
    background-color: #1a202c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
}

.full-loading-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    color: #f7fafc;
}

.article-loading-box {
    margin-top: 1.25rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.article-loading-item {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: #cbd5e0;
    animation: spin 0.8s linear infinite;
}

/* common */
.p-user {
    font-weight: bold;
    margin-right: 0.75rem;
    line-height: 1.25rem;
}

.p-date {
    font-size: 1rem;
    line-height: 1.25rem;
}
.p-date-comment {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* not found page */
.not-found-full-box {
    width: 100%;
    height: 100vh;
    background: #1a202c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-full-box h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #f7fafc;
}
